<div class="relative bg-background dark:bg-background-dark w-full h-full p-6 rounded-base shadow-2xl">
    <div class="flex flex-col items-center justify-center h-full"> <h3 class="mb-1 text-xl font-semibold tracking-tight text-text dark:text-text-dark">Top 1</h3>
        
        <img class="w-24 h-24 mb-6 rounded-full object-cover" src="https://img.freepik.com/vector-premium/icono-cuenta-icono-usuario-graficos-vectoriales_292645-552.jpg?semt=ais_hybrid&w=740&q=80" alt="Bonnie image"/>
        
        <h5 class="mb-0.5 text-xl font-semibold tracking-tight text-text dark:text-text-dark">Usuario_ejemplo</h5>
        <span class="text-sm text-text dark:text-text-dark">100 puntos</span>
        
        <div class="flex mt-4 md:mt-6 gap-4">
            <button type="button" class="inline-flex items-center text-text bg-navbar hover:bg-button-hover dark:bg-button-dark text-text-dark hover:bg-button-hover-dark focus:ring-4 focus:ring-brand-medium shadow-2xl font-medium leading-5 rounded-base px-4 py-2.5 focus:outline-none">
                <i class="fa-solid fa-user me-2"></i>
                Ver perfil 
            </button>
        </div>
    </div>
</div>